
{% extends "base.html" %}
    {{ perms.product }}
{% block nav%}
    {% if user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'review-add' product.id %}">Добавить отзыв</a><br>
        </li>
    {% endif %}
    {% if perms.webapp.change_product %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'product-update' product.id %}">Изменить продукт</a>
        </li>
        {% endif %}
    {% if perms.webapp.delete_product %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'product-delete' product.id %}">Удалить продукт</a>
        </li>
        {% endif %}
{% endblock %}
{%  block content %}


    <h1>продукт № {{ product.id }}</h1>
    <p>Название: {{ product.title }}</p>
    <p>Описание: {{ product.description }}</p>
    <img class="avatar" src="{{ product.avatar.url }}" alt="{{ product.avatar.url }}"width="250" height="250" alt="user picture">
    {% for review in product.product_reviews.all %}
         <p>Отзыв: <a href="{% url 'review-view' review.pk %}">{{ user.username }}</a></p>
    {% empty %}
        <h2>Нет отзывов</h2>
    {% endfor %}


{% endblock content %}