{% extends 'base.html' %}

{{ perms.product }}
{% block menu %}
    {% if perms.webapp.add_review %}
        <li><a href="{% url "review-add" %}">Создать отзыв</a></li>
    {% endif %}
{% endblock menu %}

{% block content %}
    <h1>Отзывы</h1>
    {% if not reviews %}
        <h2>Нет отзывов</h2>
    {% else %}
        {% include 'partial/search_form.html' %}
    {% endif %}
    {% for review in reviews %}
            <p>{{ review.rating }}: <a href="{% url "review-view" review.id%}">{{ review.description_review }}</a></p>
        {% endfor %}
    {% include 'partial/paginate.html' %}
{% endblock content %}
